@import 'tailwindcss';

@utility container {
  max-width: 80rem;
  width: 100%;
}

@utility btn-text {
  @apply px-4 py-2 rounded-sm cursor-pointer
         text-sky-700 hover:text-sky-800 hover:bg-sky-50
         disabled:bg-gray-300 disabled:cursor-not-allowed disabled:text-gray-400 disabled:hover:bg-gray-300;
}

@layer base {
  a {
    color: var(--color-secondary);
  }
  a:hover {
    color: var(--color-secondary-darken);
  }
  a:visited {
    color: var(--color-purple-80);
  }
}

@theme {
  --breakpoint-xs: 482px;
  --color-primary: #ff9b21;
  --color-secondary: #0071b3;
  --color-secondary-darken: #00649e;
  --color-purple-80: #6200b3;
  --color-neutral-600: #525252;
}
